<div>
  <!-- <label>Article Title</label> -->
  <!-- <input type="text" class="form-control" (input)="onUpdateArticleName($event)"> -->
  <!-- <input type="text" [(ngModel)]="articleName"/>
  <button class="btn btn-primary" [disabled]="!allowNewArticle"
  (click)="onCreateArticle()">Add article</button>
  <p *ngIf="articleCreated">Article with title {{ articleName }} was created</p> -->
  <!-- <p>{{ articleName }}</p> -->
  <ul>
    <li *ngFor="let a of articles">
      <app-article [article]="a"></app-article>
    </li>
  </ul>
</div>
